  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.header{
    background-color: gold;
    text-align: center;
    font-family: 'Satisfy', cursive;    color: rgb(255, 255, 255);
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    font-size: 25px;
}

article{
    display: inline-block;
}

body{
    background-color: black;
}
h2{
    font-family: 'Satisfy', cursive;
    text-align: left;
    margin-left:2%;
    margin-right:2%;
    font-size: 30px;
    color: white;
}
.car{
    margin-top: -30px;
    margin-left: 2%;
    margin-right: 2%;
}
hr{
    margin-top: -50px;
    margin-left:2%;
    margin-right:2%;
}
.image{
    padding: 10px;
}

